<div class="wrapper main-page" id="wrapper" data-title="{{title}}" data-lang="{{currentLang}}" data-router-view="home"
  data-style-loaded="false" data-style-href="{{puthSRC}}/css/pages/index.css" data-style-id="styleBoxes">
  {{>indexFS }}

  <div class="styleBoxes" id="pageStyleBoxes">
    {{>sections/partners }}
    {{>sections/help }}
    {{>sections/future }}
    {{>sections/why }}
    {{>sections/ecosystem }}
    {{>sections/reach }}
    {{>sections/news }}
  </div>
</div>

{{!-- or load all page styles --}}

{{!-- <div class="wrapper main-page" id="wrapper" data-title="{{title}}" data-lang="{{currentLang}}"
  data-router-view="home" data-style-loaded="false" data-style-href="{{puthSRC}}/css/pages/index.css"
  data-script-src="{{puthSRC}}/js/MainPageScript{{version}}.js" data-script-init="false" data-style-id="styleBoxes">
  {{> indexFS}}
  <div class="styleBoxes noStyles" id="pageStyleBoxes">
  </div>
</div> --}}